<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="false"
        android:label="LOOK LSP UI Module"
        android:supportsRtl="true">

        <activity
            android:name=".ModuleSettingsActivity"
            android:exported="true"
            android:label="LOOK LSP 设置">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".GlobalFloatService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="LOOK直播 UI 组件采集模块（首页识别+广告规则处理+全局悬浮按钮）" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>

</manifest>
